pandas
rich
tqdm
httpx
python-dotenv
pydantic
openai==1.77.0
googletrans
gigachat==0.1.39.post1
instructor==1.8.0
exa-py
sentence-transformers
scikit-learn
python-telegram-bot[rate-limiter]==21.4
rapidfuzz==3.9.7
